<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-wrapper card-origin text-center p-5 mb-5" style="width: 400px; margin: 0 auto;">
<h2>Sign up</h2>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :name,
                required: true %>
    <%= f.input :age,
                hint: ("Minimum age required is 18"),
                required: true %>
    <%= f.input :address,
                required: true %>
    <%= f.input :description,
                required: true %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  <div class="form-actions text-center">
    <button class="btn btn-confirm"><%= f.button :submit, "Sign up" %></button>
    <button class="btn btn-confirm"><%= render "devise/shared/links" %></button>

  </div>
  </div>

<% end %>

