<div class="chatmodal-outside disabled">
  <div class="chatmodal-inside">
    <div class="<%= "messageBox#{room.id}" %> chatboxes">
      <p class="clubID" style="display: none;"><%= club.id %></p>
      <p class="userID" style="display: none;"><%= current_user.id %></p>
      <p class="roomID" style="display: none;"><%= room.id %></p>
      <p class="authToken" style="display: none;"><%= form_authenticity_token %></p>
    </div>
    <div class="inputBox">
      <label for=<%= "input#{room.id}" %>></label>
      <input type="text" name=<%= "input#{room.id}" %> class=<%= "chatInput#{room.id}" %>>
      <button class="<%= "btn btn-confirm chatButton#{room.id}" %>"></button>
    </div>
  </div>
</div>
