<div class="container">
  <h1>This is the H1 header</h1>
  <h2>This is the h2 header</h2>
  <h3>This is the h3 header</h3>
  <h4>This is the h4 header</h4>
  <p>This is a paragraph</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum dolorum voluptatum adipisci provident reiciendis delectus hic deleniti ullam, dolor blanditiis necessitatibus iste perspiciatis aut iusto molestiae amet facilis atque, eius.</p>

  <a href="#" class="btn btn-confirm">Click me</a>
  <a href="#" class="btn btn-other">Click me</a>

  <div class="horizontal-card-wrapper row justify-content-center">
    <div class="col-12 col-xl-6">
      <%= render 'shared/card-horizontal' %>
    </div>

    <div class="col-12 col-xl-6">
      <%= render 'shared/card-horizontal' %>
    </div>
  </div>

  <div class="vertical-card-wrapper row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <%= render 'shared/card-vertical' %>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <%= render 'shared/card-vertical' %>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <%= render 'shared/card-vertical' %>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <%= render 'shared/card-vertical' %>
    </div>
  </div>

</div>
