
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs form-wrapper card-origin text-center p-5 mb-5" style="width: 400px; margin: 0 auto;">
<h2>Log in</h2>
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

  <div class="form-actions text-center">
    <button class="btn-confirm"><%= f.button :submit, "Log in" %></button>
    <button class="btn-confirm"><%= render "devise/shared/links" %></button>
  </div>
  </div>
<% end %>


