<div class="container">
  <div class="section">
    <h1>Hello, <%= current_user.name %> </h1>
  </div>

  <div class="section my-3">
    <h2>Edit your sports</h2>
    <p>These sports will help clubs looking for new members to find you.</p>
    <ul style="padding-inline-start:0px; list-style-type: none">
      <% current_user.interests.each do |interest| %>
      <li class="my-4"> <%= interest.sport.name  %> <%= link_to "Delete Sport", interest_path(interest), method: :delete, class: "btn-confirm" %> </li>
      <% end %>
    </ul>

    <%= simple_form_for [Interest.new] do |f| %>
       <%= f.association :sport %>
       <%= f.submit 'Add Sport', class: 'btn-confirm' %>
    <% end %>


  </div>


  <div class="section my-3">
    <h2>Edit your memberships</h2>

    <% current_user.memberships.each do |membership| %>
        <div class="card-origin mr-5 card-vertical text-center">
          <div>
            <img src="<%= membership.club.photo %>" alt="skateboard" class="avatar-bordered">
          </div>
          <div>
            <h3> <%= membership.club.name %> </h3>
            <% membership.club.sports.each do |sport| %>
            <p> <%= sport.name %></p>
            <% end %>
            <p><strong><%= membership.status %></strong></p>
          </div>
        </div>
    <% end %>
  </div>

  <div class="section my-3">
    <h2>Change your profile data</h2>

  </div>

</div>
