<div class="container" style="max-width: 800px;">
  <div class="section text-center">
    <%= image_tag "#{current_user.photo}", class: "avatar-bordered-profile my-3" %>
    <h1>Hello, <%= current_user.name %> </h1>
  </div>

  <div class="section my-3 card-origin card-dashboard">
    <h3 class="text-center">Edit your sports</h3>
    <p class="text-center">These sports will help clubs looking for new members to find you.</p>

    <div class="d-flex justify-content-center">
      <ul style="padding-inline-start:0px; list-style-type: none; width:400px;">
        <% current_user.interests.each do |interest| %>

          <li class="my-4 d-flex justify-content-between align-items-center"> <%= interest.sport.name  %> <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, interest_path(interest), method: :delete, class: "btn btn-confirm-trash" %>
          </li>

        <% end %>
      </ul>
    </div>

    <div class="form-inputs, form-wrapper" style="width: 400px; margin: 0 auto">
      <%= simple_form_for [Interest.new] do |f| %>
        <%= f.association :sport %>
        <div class="text-center">
          <%= f.submit 'Add Sport', class: 'btn btn-confirm' %>
        </div>
      <% end %>
    </div>

  </div>


  <div class="section my-3 card-origin card-dashboard">
    <h3 class="text-center">Memberships</h3>
    <p class="text-center">Your club memberships and requests will appear below</p>

    <div class="row d-flex justify-content-around">
      <% current_user.memberships.each do |membership| %>
          <div class="card-origin card-dashboard m-3 card-vertical text-center">
            <%= link_to club_path(membership.club), class: "card-link" do %>
            <div>
              <img src="<%= membership.club.photo %>" class="avatar-bordered">
            </div>
            <div>
              <h3> <%= membership.club.name %> </h3>
              <% membership.club.sports.each do |sport| %>
              <p> <%= sport.name %></p>
              <% end %>
              <p>Status: <strong><%= membership.status %></strong></p>
            </div>
            <% end %>
          </div>
      <!-- Delete Method missing here -->
      <% end %>
    </div>
  </div>

  <div class="section my-3 card-origin card-dashboard">
    <h3 class="text-center">Chats with clubs</h3>
    <% current_user.rooms.each do |chat| %>
    <% @club = Club.find(chat.club_id) %>

    <div class="row d-flex justify-content-around card-origin card-dashboard m-3">
      <img src="<%= @club.photo %>" class="avatar-bordered">
      <a href="" class="btn btn-confirm mb-4" data-toggle="modal" data-target="#modalLoginForm">Pop-up chat</a>
      <%= render 'shared/chatroom', room: chat, club: @club %>
    </div>

    <% end %>
  </div>

  <div class="section my-3 card-origin card-dashboard">
    <h3 class="text-center">Change your profile data</h3>


    <%= simple_form_for(current_user, as: current_user, url: registration_path(current_user), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs, form-wrapper" style="width: 400px; margin: 0 auto">
          <%= f.input :age, required: true %>
          <%= f.input :address, required: true %>
          <%= f.input :description, required: true %>
          <%= f.input :photo, required: true %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.input :current_password,
            hint: "We need your current password to confirm your changes",
            required: true,
            input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "Update", class: "btn btn-confirm" %>
        </div>
      <% end %>

      <div class="text-center">
        <%= link_to "Change password", edit_user_registration_path, class: "btn btn-confirm" %>
      </div>
  </div>

</div>













