<div class="container">
  <div class="row">
    <h1>Find members</h1>
  </div>

  <div class="horizontal-card-wrapper row justify-content-center">
    <% @users.each do |user| %>
    <div class="col-12 col-xl-6">
      <div class="card-origin card-horizontal">
        <div>
          <%= cl_image_tag user.photo, class: "avatar-bordered" %>
        </div>
        <div class="ml-3">
          <h3><%= user.name %></h3>
          <p><%= user.description %></p>
          <div class="mb-3">
            <% user.sports.each do |sport| %>
            <%= sport.name %>
            <% end %>
          </div>
          <%= link_to "View Player", user_show_path(user), class: "btn-confirm" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="row" style="text-align: center">
    <%= link_to "Back", root_path, class:"btn-other" %>
  </div>
</div>
